
<div class="mb-1">
    <input type="text" class="form-control" placeholder="DESCRIPTION" name="desc{{i}}" maxlength="80" required>
</div>
<div class="mb-1">
    <input type="number" class="form-control" placeholder="HSN/SAC" name="hsn{{i}}">
</div>
<div class="mb-1">
    <input type="number" class="form-control" placeholder="QUANTITY" name="qty{{i}}">
</div>
<div class="mb-1">
    <input type="number" class="form-control" placeholder="RATE" name="rate{{i}}" >
</div>
<div class="mb-1">
    <input type="number" class="form-control" placeholder="AMOUNT" name="amount{{i}}" required >
</div>
<hr class="bg-white">
